{% extends 'users/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card shadow-sm p-4">
                <h3 class="card-title text-center mb-4">Восстановление пароля</h3>
                <form class="row" method="post" enctype="multipart/form-data">
                    <div class="col-12">
                        <div class="mb-3">
                            {% csrf_token %}
                            <label for="id_email" class="form-label">Введите адрес электронной почты:</label>
                            {{ form.email }}
                        </div>
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary">Восстановить пароль</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
