{% extends 'users/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="col">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if user.is_authenticated %}
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary">Зарегистрировать</button>
                    {% endif %}
                </div>
            </form>
            <p class="float-end mb-1">
                <a href="/" class="btn btn-outline-dark btn-sm">Назад</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}